{% extends "ProyectowebApp/base.html" %}

{% load static %}


{% block content %}

    <div class="container mt-5">
        <h2>Puntualidad: El mejor Tienda</h2>
        <p>Con un tiempo de entrega de máximo 72 horas y un error en la demora del pedido del 0.1%.</p>
        <p>Con un tiempo de entrega de máximo 72 horas y un error en la demora del pedido del 0.1%.</p>
        <p>Con un tiempo de entrega de máximo 72 horas y un error en la demora del pedido del 0.1%.</p>
        <p>Con un tiempo de entrega de máximo 72 horas y un error en la demora del pedido del 0.1%.</p>
    </div>


{% endblock %}