<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    #barra{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }


    #barra li {
        display: inline;
        margin: 0 20px;
    }
</style>
<body>
    <ul id="barra">
        <li ><a href="{% url 'cursos' %}">Home</a></li>
        <li><a href="{% url 'cursos1' %}">Home1</a></li>
        <li>Home2</li>
        <li>Home3</li>
    </ul>
</body>
</html>